html
  head
    if album.month
      title=album.country + " " + album.year + " - " + album.month
    else
      title=album.country + " " + album.year
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='/photos/css/index.css')
    link(rel='preload', href='/photos/fonts/mukta-latin-400.woff', as='font', type='font/woff', crossorigin='anonymous')
    link(rel='preload', href='/photos/fonts/mukta-latin-400.woff2', as='font', type='font/woff2', crossorigin='anonymous')
    link(rel='preload', href='/photos/fonts/mukta-latin-700.woff', as='font', type='font/woff', crossorigin='anonymous')
    link(rel='preload', href='/photos/fonts/mukta-latin-700.woff2', as='font', type='font/woff2', crossorigin='anonymous')
    script(defer, src='/photos/js/navigation.js')

  body
    .container
      header
        if album.month
          h1=album.country + " " + album.year + " - " + album.month
        else
          h1=album.country + " " + album.year
        h4='Page ' + page + ' of ' + pages

      div.navigation
        div
          a(title='Home', href=home)='Home'
        if page > 1
          a(title='Previous', href=prevPage)='Previous'
        if page < pages
          a(title='Next', href=nextPage)='Next'

      div.image-container
        each data in datas
          div.block
            if data.image.match(/^.*\.mov.*$/)
              video(src=data.image, controls, preload='none')
            else
              figure
                a(href=data.image, rel='noopener noreferrer', target='_blank')
                  img(src=data.thumb)
              figcaption
                p.
                  1˚ 56' 20" S, 30˚ 2' 38" E
                p.
                  2018:11:15 15:09:33
                p.
                  Apple iPhone 7
                p.
                  4032x3024

      div.navigation
        if page > 1
          a#prev(title='Previous', href=prevPage)='Previous'
        if page < pages
          a#next(title='Next', href=nextPage)='Next'

      footer
        p="© " + year + " Dylan Armstrong. All rights reserved."
